* {
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

canvas {
	display: block;
}

audio {
	position: absolute;
	top: 90%;
	left: 39%;
	opacity: 0.1;

	transition-property: opacity, margin-left;
    transition-duration: 1s;
    transition-timing-function: ease;
}

audio:hover {
	opacity: 1;
}

#playlist {
	list-style: none;
}

#playlist li a {
	color: white;
	text-decoration: none;
	font-size: 18px;
}

#playlist .current-song a {
	color: black;
}

.playerArea {
	height: 70%;
	width: 20%;
	position: absolute;
	margin: 1% auto auto 1.5%;
	opacity: 0;
	background-color: none;

	transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.playerArea:hover {
	opacity: 1;
}

#msx {
	opacity: 0.5;
	margin-top: 4%;
	font-family: Arial;

	transition-property: opacity, margin-left;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

#msx:hover {
	opacity: 1.0;
	margin-left: 5%;
}